// primary colors and typography
$primary-color: #000;
$secondary-color: #666;
$background-color: #fafafa;

$green: #009c73;
$blue: #2b93d1;
$yellow: #ffd800;
$orange: #e65925;
$pink: #edaac6;
$white: #fff6f1;


@font-face {
  font-family: 'Inter';
  src: url('../assets/fonts/Inter-VariableFont_slnt\,wght.ttf') format('ttf');
}

@font-face {
  font-family: 'Alte';
  src: url('../assets/fonts/AlteHaasGroteskRegular.ttf') format('ttf');
}

$header-font: 'Inter', sans-serif;
$body-font: 'Alte', sans-serif;

* {
  margin: 0px;
  padding: 0px;
  font-family: 'IBM Plex Mono';
  box-sizing: border-box;
  scroll-behavior: smooth;
}

html, body, main {
  width: 100%;
  height: 100%;
}

body {
  background-color: #f7f7f7;
  color: #010101;
}

h1 {
  font-size: 2rem;
}

p {
  width: 90%;
  margin: 2rem 0;
}

section {
  height: 100vh;
}

.container {
  padding: 5rem;
}

.scroll_container {
  height: 400vh;
}

.horizontal_scroll {
  position: absolute;
  top: 0;
  height: 100%;
  width: 400vw;
  will-change: transform;
  display: flex;
  justify-content: space-between;
}

.scroll_contents {
  height: 100%;
  width: 100vw;
}

.sticky_wrap {
  overflow: hidden;
  position: sticky;
  top: 0;
  height: 100vh;
}

.red {
  background-color: #ff3d00;
}

.yellow {
  background-color: #ffff00;
}

.green {
  background-color: #05ff00;
}

.blue {
  background-color: #2835f8;
}

h2 {
  font-size: 2rem;
  color: #f7f7f7;
}

.left {
  margin-top: 5vh;
  margin-left: 5vw;
}

.right {
  text-align: right;
  margin-top: 85vh;
  margin-right: 5vw;
}