// primary colors and typography
$primary-color: #000;
$secondary-color: #666;
$background-color: #fafafa;

$green: #009c73;
$blue: #2b93d1;
$yellow: #ffd800;
$orange: #e65925;
$pink: #edaac6;
$white: #fff6f1;

// body {
//   cursor: url('./assets/pointers/pointer-down.svg') 20 20, auto !Important;
// }

@font-face {
  font-family: 'Inter';
  src: url('./assets/fonts/Inter-VariableFont_slnt\,wght.ttf') format('ttf');
}

@font-face {
  font-family: 'Alte';
  src: url('./assets/fonts/AlteHaasGroteskRegular.ttf') format('ttf');
}

$header-font: 'Inter', sans-serif;
$body-font: 'Alte', sans-serif;

* {
  margin: 0px;
  padding: 0px;
  font-family: 'IBM Plex Mono';
  box-sizing: border-box;
  scroll-behavior: smooth;
}

html, body, main {
  width: 100%;
  height: 100%;
}

body {
  background-color: #f7f7f7;
  color: #010101;
}

h1 {
  font-size: 2rem;
}

p {
  width: 90%;
  margin: 2rem 0;
}

.nav {
  position: fixed;
  width: 100;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  z-index: 99;
}

// .nav-col {
//   width: 20%
// }

.nav-col:last-child {
  // width: 10%;
  align-items: flex-end;
}
@media (max-width: 768px) {
  .nav {
    border: 2px solid black;
  }
  .nav-col a img {
    max-width: 81vw;
    margin: -2px -2px -7px -2px;
  }
  .nav-col:first-child {
    width: 50%;
  }
  .scroll_inner_wrapper {
    padding: 100px;
   }
   .nav-col .icon {
    display: none;
    height: 40px;
    width: 40px;
   }
   .nav-col .icon:nth-child(3n) {
    display: block;
    margin-right: 15px;
    margin-top: 15px;
   }
}
@media (min-width: 768px) {
  .nav {
    padding: 24px 28px;
  }
  .nav-col a img {
    max-width: 300px;
    margin: 0;
  }
  .nav-col:first-child {
    width: 50%;
  }
  .scroll_inner_wrapper {
    padding: 100px;
   }
   .nav-col .icon {
    display: block;
    height: 40px;
    width: 40px;
   }
}
section {
  height: 100vh;
}

.container {
  padding: 5rem;
}

.scroll_container {
  height: 400vh;

}

.horizontal_scroll {
  position: absolute;
  top: 0;
  height: 100%;
  width: 400vw;
  will-change: transform;
  display: flex;
  justify-content: space-between;
}

.scroll_contents {
  height: 100%;
  width: 100vw;
}


.sticky_wrap {
  overflow: hidden;
  position: sticky;
  top: 0;
  height: 100vh;
}

@media (max-width: 1080px) {
  .green {
    // background-color: #009c73
    background: linear-gradient(90deg, rgba(0,156,115,1) 90%, rgba(255,216,0,1) 100%);
  }
  
  .yellow {
    //background-color: #ffd800;
    background: linear-gradient(90deg, rgba(255,216,0,1) 90%, rgba(230,89,37,1) 100%);
  }
  
  .orange {
    //background-color: #e65925;
    background: linear-gradient(90deg, rgba(230,89,37,1) 90%, rgba(43,147,209,1) 100%);
  }
  
  .blue {
    background-color: #2b93d1;
  }
  .white {
    background: linear-gradient(180deg, rgba(43,147,209,1) 15%, rgb(247,247,247,1) 100%);
  }
}
@media (min-width: 1080px) {
  .green {
    // background-color: #009c73
    background: linear-gradient(90deg, rgba(0,156,115,1) 75%, rgba(255,216,0,1) 100%);
  }
  
  .yellow {
    //background-color: #ffd800;
    background: linear-gradient(90deg, rgba(255,216,0,1) 75%, rgba(230,89,37,1) 100%);
  }
  
  .orange {
    //background-color: #e65925;
    background: linear-gradient(90deg, rgba(230,89,37,1) 75%, rgba(43,147,209,1) 100%);
  }
  
  .blue {
    background-color: #2b93d1;
  }
  .white {
    background: linear-gradient(180deg, rgba(43,147,209,1) 25%, rgb(247,247,247,1) 100%);
  }
}

h2 {
  font-size: 2rem;
  color: #f7f7f7;
}

.left {
  margin-top: 5vh;
  margin-left: 5vw;
}

.right {
  text-align: right;
  margin-top: 85vh;
  margin-right: 5vw;
}
@keyframes toorange{
  0% {
    fill: #000
  }
  100% {
    fill: #e65925;
  }
}
@keyframes topink{
  0% {
    fill: #e65925
  }
  100% {
    fill: #edaac6;
  }
}
@keyframes toyellow{
  0% {
    fill: #edaac6;
  }
  100% {
    fill: #ffd800
  }
}
@keyframes toblack{
  0% {
    fill: #ffd800;
  }
  100% {
    fill: #000
  }
}

// @keyframes rainbow01 {
//   0% {
//     fill: #ffd800
//   }
//   12% {
//     fill: #2b93d1
//   }
//   25% {
//     fill: #edaac6
//   }
//   35% {
//     fill: #e65925
//   }
//   50% {
//     fill: #009c73
//   }
//   65% {
//     fill: #e65925
//   }
//   75% {
//     fill: #edaac6
//   }
//   85% {
//     fill: #2b93d1
//   }
//   100% {
//     fill: #ffd800
//   }
// }
// @keyframes rainbow02 {
//   0% {
//     fill: #edaac6 
//   }
//   15% {
//     fill: #009c73
//   }
//   25% {
//     fill: #e65925
//   }
//   35% {
//     fill: #ffd800
//   }
//   50% {
//     fill: #2b93d1
//   }
//   65% {
//     fill: #ffd800
//   }
//   75% {
//     fill: #e65925
//   }
//   85% {
//     fill: #009c73
//   }
//   100% {
//     fill: #edaac6 
//   }
// }
// .running {
//   -webkit-animation-play-state:running;
//   -moz-animation-play-state:running;
//   -o-animation-play-state:running; 
//   animation-play-state:running;
// }
// .paused{
//   -webkit-animation-play-state:paused;
//   -moz-animation-play-state:paused;
//   -o-animation-play-state:paused; 
//   animation-play-state:paused;
// }

section:last-child .container{
  padding: 200px 100px;
}