// primary colors and typography
$primary-color: #000;
$secondary-color: #666;
$background-color: #fafafa;

$green: #009c73;
$blue: #2b93d1;
$yellow: #ffd800;
$orange: #e65925;
$pink: #edaac6;
$white: #fff6f1;


@font-face {
  font-family: 'Inter';
  src: url('../assets/fonts/Inter-VariableFont_slnt\,wght.ttf') format('ttf');
}

@font-face {
  font-family: 'Alte';
  src: url('../assets/fonts/AlteHaasGroteskRegular.ttf') format('ttf');
}

$header-font: 'Inter', sans-serif;
$body-font: 'Alte', sans-serif;

* {
  margin: 0px;
  padding: 0px;
  font-family: 'IBM Plex Mono';
  box-sizing: border-box;
  scroll-behavior: smooth;
}

html, body, main {
  width: 100%;
  height: 100%;
}

body {
  background-color: #f7f7f7;
  color: #010101;
}

h1 {
  font-size: 2rem;
}

p {
  width: 90%;
  margin: 2rem 0;
}

.nav {
  position: fixed;
  width: 100;
  top: 0;
  left: 0;
  right: 0;
  padding: 24px 28px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  z-index: 99;
}

section {
  height: 100vh;
}

.container {
  padding: 5rem;
}

.scroll_container {
  height: 400vh;

}

.horizontal_scroll {
  position: absolute;
  top: 0;
  height: 100%;
  width: 400vw;
  will-change: transform;
  display: flex;
  justify-content: space-between;
}

.scroll_contents {
  height: 100%;
  width: 100vw;
}

.sticky_wrap {
  overflow: hidden;
  position: sticky;
  top: 0;
  height: 100vh;
}


.green {
  // background-color: #009c73
  background: linear-gradient(90deg, rgba(0,156,115,1) 75%, rgba(255,216,0,1) 100%);
}

.yellow {
  //background-color: #ffd800;
  background: linear-gradient(90deg, rgba(255,216,0,1) 75%, rgba(230,89,37,1) 100%);
}

.orange {
  //background-color: #e65925;
  background: linear-gradient(90deg, rgba(230,89,37,1) 75%, rgba(43,147,209,1) 100%);
}

.blue {
  background-color: #2b93d1;
}
.white {
  background: linear-gradient(180deg, rgba(43,147,209,1) 25%, rgb(247,247,247,1) 100%);
}

h2 {
  font-size: 2rem;
  color: #f7f7f7;
}

.left {
  margin-top: 5vh;
  margin-left: 5vw;
}

.right {
  text-align: right;
  margin-top: 85vh;
  margin-right: 5vw;
}

@keyframes rainbow01 {
  0% {
    fill: #ffd800
  }
  25% {
    fill: #2b93d1
  }
  50% {
    fill: #edaac6
  }
  75% {
    fill: #e65925
  }
  100% {
    fill: #009c73
  }
}
@keyframes rainbow02 {
  0% {
    fill: #edaac6 
  }
  25% {
    fill: #009c73
  }
  50% {
    fill: #e65925
  }
  75% {
    fill: #ffd800
  }
  100% {
    fill: #2b93d1
  }
}

// @media (prefers-reduced-motion: no-preference) {
//   .insta.icon {
//     animation: rainbow01 12s infinite;
//     transition: ease;
//   }
  
//   .email.icon {
//     animation: rainbow02 12s infinite;
//     transition: ease;
//   }
// }